@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700&display=swap');

:root {

    --color-background: rgba(202, 201, 201, 0.363);
    --color-background-content: rgba(252, 250, 250, 0.507);

    --color-hr: rgba(202, 201, 201, 0.363);
    --color-icons: rgb(76, 49, 199);
}

* {
    margin: 0;
    padding: 0;
    border: 0
}

body {
    margin: 0;
    
    font-family: "Roboto", sans-serif; 
    background-color: var(--color-background);
}

a {
    text-decoration: none;
}

hr {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 90%;
    height: 1px;
    background-color: var(--color-hr);
}

h1 {
    margin-left: 8px;
    font-weight: 500;
}

.main {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    margin-top: 20px;
    gap: 20px;
}

.blockContent {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sidebar {
    background-color: var(--color-background-content);
    width: 25%;
    margin-left: 12px;

    display: flex;
    flex-direction: column;   
}

.photo:hover {
    opacity: 60%;
}

.photo img {
    width: 100%;
}

.contact, .skills, .languages { 
    margin-left: 20px;
}

.contact span {
    font-size: 15px;
}

.contact div i, .languages div i, .skills div:first-child i{
    margin-right: 10px;
    font-size: 20px;
    color: var(--color-icons);
}

.skills div:first-child, .languages div:first-child {
    margin-bottom: 10px;
}

.skills i{
    font-size: 40px;
    margin-right: 20px;
}

.skills i:hover{
    opacity: 70%;
}

.languages {
    margin-bottom: 20px;
}

.languages ul li {
    list-style: none;
}

.languages ul li i{
    margin-right: 10px;
    color: var(--color-icons);
}

/*
    ******** Conteúdo ********
*/

.content {

    width: 70%;
    margin-right: 10px;
}

section {
    background-color: var(--color-background-content);

    padding: 20px 20px 20px;
    margin-bottom: 20px;

}

h3 {
    margin-bottom: 10px;
    font-size: 40px;
    font-weight: 400;

}

h3 i {
    color: var(--color-icons);
    margin-right: 10px;
}

.job i {
    font-size: 20px;
    margin-right: 7px;
    color: var(--color-icons);
}

.job span {
    font-size: 20px;
}

.job {
    margin-left: 10px;
}

h4 {
    font-size: 25px;
    font-weight: 400;

}
h5 {
    font-size: 20px;
    opacity: 70%;
    font-weight: 400;

}

.projects a {
    text-decoration: none;
}

.projects a:hover {
    color: rgba(0, 0, 0, 0.2);
}